//Top Bar
.nav-bar {
    position: relative;
    z-index: 20;
    background: var(--color_nav);
    height:40px;
    box-shadow: 0 0 20px 0 rgb(7, 0, 37);
}

//Website Title Icon
.title-bar {
    img{
        margin-top: 10px;
        margin-left: 4px;
        width: 180px;
        //position: absolute;
    }
}

//Links to Different Pages
nav {
    position: fixed;
    top: 0%;
    right: 12.5em;
    padding: 7px;

    a {
        font-size: 18px;
        //font-family: 'La Belle Aurore';
        color: var(--color_primary);
        margin-left: 20px;
        text-decoration: none;
        transition: 0.8s;
        transition-timing-function: ease-in-out;

        &:hover{
            color: #ffffff; 
            font-size: 18px;
            bottom: 0;
            text-align: center;
            opacity: 0.8;
            //transition: 2s;
           // transition-timing-function: ease-in-out;
        }
        
    }
}

//Links to Social Media
ul {
    position: absolute;
    top: 0%;
    right: 0%;
    list-style: none;
    margin-top: 6px;
    //padding-left: 0;

    li {
        a {
            padding: 10px;
            font-size: 22px;

            &:hover svg{
                color: #fbff00; 
                font-size: 24px;
                opacity: 1;
                transition: all 0.5s ease-out;    
            }
        }  
    }
}