//Navigation Bar
.nav-bar {
    z-index: 1;
    background: #284b88;
    height: 50px;
    box-shadow: 0 2px 20px 0 rgb(7, 0, 37);
}

//Website Title, Also Link to Home Page
.title-bar {
    img{
        margin-top: 16px;
        margin-left: 4px;
        width: 180px;
        //position: absolute;
    }
}

//Links to Different Pages
nav {
    
    position: fixed;
    top: 0%;
    right: 12.5em;
    padding: 14px;

    a {
        
        font-size: 20px;
        font-family: 'La Belle Aurore';
        color: #dadada;
        margin-left: 20px;
        text-decoration: none;
        transition: 0.8s;
        transition-timing-function: ease-in-out;

        &:hover{
            color: #777341; 
            font-size: 18px;
            bottom: 0;
            text-align: center;
            opacity: 0.8;
            //transition: 2s;
           // transition-timing-function: ease-in-out;
        }
        
    }
}

//Links to Social Media
ul {
    position: absolute;
    top: 0%;
    right: 0%;
    list-style: none;
    padding-left: 0;

    li {
        a {
            padding: 10px;
            font-size: 22px;

            &:hover svg{
                color: #fbff00; 
                font-size: 24px;
                opacity: 1;
                transition: all 0.5s ease-out;    
            }
        }  
    }
}