//Navigation Bar
.nav-bar {
    background: #181818;
    height: 50px;
}

//Website Title, Also Link to Home Page
.title-bar {
    img{
        margin: 16px;
        width: 180px;
        //position: absolute;
    }
}

//Links to Different Pages
nav {
    
    position: absolute;
    top: 0%;
    right: 7.5em;
    padding: 12px;

    a {
        font-size: 20px;
        color: #c9c9cd;
        margin-left: 20px;
        text-decoration: none;

        &:hover svg{
            color: #ddff00; 
            font-size: 18px;
            bottom: 0;
            text-align: center;
            opacity: 0.8;
            transition: all 2s ease-out;
        }
        
    }
}

//Links to Social Media
ul {
    position: absolute;
    top: 0%;
    right: 0%;
    list-style: none;
    padding-left: 0;

    li {
        a {
            padding: 10px;
            font-size: 22px;

            &:hover svg{
                color: white; 
                font-size: 22px;
                opacity: 0.8;
                transition: all 1s ease-out;    
            }
        }  
    }
}