.pdf-zone{
    margin: 2em;
    display: block;
    margin-left: 30em;
    margin-right: 30em;
    position: relative;
    align-items: center;
    display: flex;
}

.pdf{
    border-radius: 3%;
    border-style: solid;
    border-color: black;
    height: 78em;
    width: 170em;
}

