.resume-page{
    overflow-y: scroll;
    top: 0%;
    bottom: 0%;

    .pdf-zone{
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 2%;
        margin-top: 2%;
        position: relative;
        height: 150%;
        display: flex;
    }
    
    .pdf{
        border-radius: 2%;
        border-style:solid;
        border-width: 10px;
        border-color: var(--color_nav);
        box-shadow: 0 0 20px 5px rgb(5, 0, 43);
        //height: 100em;
        width: 100%;
        animation: fadeIn 1s 1s;
    }    
}


