.page {
    width: 100%;
    top:40px;
    bottom: 30px;
    position: absolute;
}

.container {
    width: 100%;
    will-change: contents;
    position: absolute;
    opacity: 0;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.contact-page {
    left: 5%;
    width: 600px;
    top: 10%;
    position: relative;
}