.home-page {

    .text-zone {
        font-size: 30px;
        color: rgb(179, 179, 179);
        position: absolute;
        left: 5%;
        top: 40%;
        transform: translateY(-50%);
        width: 80%;
        max-height: 90%;

        .titleHome{
            color: #4088b5;
        }
    }

    .flat-button {
        color: yellow;
    }
}