//Footer
.footer {
    background: var(--color_nav);
    height: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
    box-shadow: 0 0 20px 0 rgb(7, 0, 37), inset 0 0 6px 0 rgb(7, 0, 37);;

    //Copyright Text
    h1 {
        color: var(--color_primary);
        margin-top: 6px;
        font-size: 12px;
        font-style:oblique;
        //font-family: 'La Belle Aurore';
    }
}